attrs==19.3.0
Automat==20.2.0
beautifulsoup4==4.9.1
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
clarifai==2.6.2
configparser==5.0.0
constantly==15.1.0
cryptography==3.0
cssselect==1.1.0
decorator==4.4.2
EasyProcess==0.3
emoji==0.6.0
future==0.18.2
googleapis-common-protos==1.52.0
grpcio==1.31.0
html5lib==1.1
hyperlink==19.0.0
idna==2.10
incremental==17.5.0
instapy==0.6.10
jsonschema==2.6.0
lxml==4.5.2
MeaningCloud-python==1.2.3
parsel==1.6.0
plyer==1.4.3
protobuf==3.13.0
pycparser==2.20
PyHamcrest==2.0.2
python-telegram-bot==12.8
PyYAML==5.3.1
regex==2020.7.14
requests==2.24.0
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
tornado==6.0.4
tqdm==4.48.2
urllib3==1.25.10
w3lib==1.22.0
webdriverdownloader==1.1.0.3
webencodings==0.5.1
zope.interface==5.1.0
